<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- <div class="demo">
    <div>Start Date: {{ startDate | date: 'MM/dd/yyyy' }}</div>
    <div>{{ title | titlecase }}</div>
    <div>{{ price | number: '3.3-5' }}</div>
    <div>{{ price | currency : 'EUR' }}</div>
    <div>{{ rate | percent }}</div>
    {{ courses | json }}
</div> -->

<!-- <div>
    <div *ngFor="let pair of course | keyvalue">
        {{pair.key}} {{pair.value}}
    </div>
</div> -->


<div class="courses" #container>

    <course-card #cardRef1
        (courseSelected)="onCourseSelected($event)"
        [course]="courses[0]">
    </course-card>
    <course-card #cardRef2
        (courseSelected)="onCourseSelected($event)"
        [course]="courses[0]">
    </course-card>

    <!-- <course-card
        *ngFor="let course of courses | slice:0:3; index as i"
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [cardIndex]="i + 1">
    </course-card> -->
<!-- 
    <course-card
        *ngFor="let course of courses; index as i; first as isFirst; last as isLast; evan as isEven; odd as isOdd"
        [class.is-first]="isFirst"
        [class.is-last]="isLast"
        [class.is-even]="isEven"
        [class.is-odd]="isOdd"
        (courseSelected)="onCourseSelected($event)"
        [course]="course"
        [cardIndex]="i + 1">
    </course-card> -->

</div>


